.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* 
.cars{
  background-color:pink;
  width:400px;
  padding: 10px;
  margin:5px auto;
}
h1.styled{
  color:red;
  text-transform: uppercase;
}

.carsTable {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  border-collapse: collapse;
  width: 60%;
  margin: 20px auto;
}

.carsTable td, .carsTable th{
  border : 1px solid #ddd;
  padding : 8px;
  width:33%;
  text-align: center;
}

.carsTable tr:hover {background-color:#ddd; }

.carsTable th{
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: rgb(24,99,160);
  color : white;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
